*{
	box-sizing: border-box;
}

.card{
	width: 20%;
	height: 400px;
	border: 1px solid white;

}

.card-image{
	height: 50%;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.card-title{
	font-weight: bolder;
}

.card-wrapper{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

}

.card-wrapper > article {
	margin: 1%;
}